[DEFAULT]

debug = on

[server:main]

use = accounts

[server:accounts]

use = egg:helloworld#native
debug = on
host = accounts.helloworld.internal
port = 5000

[server:blog]

use = egg:helloworld#native
debug = on
host = blog.helloworld.internal
port = 5000

[app:main]

use = accounts

[app:accounts]

use = egg:helloworld#accounts

data_dir = %(here)s/data/accounts

beaker.session.type = file
beaker.session.data_dir = %(data_dir)s/session/
beaker.session.key = accounts
beaker.session.secret = dJkUgAajzrRiD8hrNbdcnQ==
beaker.session.timeout = 3600

beaker.cache.type = file
beaker.cache.data_dir = %(data_dir)s/cache/
beaker.cache.lock_dir = %(data_dir)s/cache/locks

who.config = %(here)s/who-accounts.ini
who.log = %(data_dir)s/who.log

database.url = sqlite:///%(here)s/data/accounts.db

[app:blog]

use = egg:helloworld#blog

data_dir = %(here)s/data/blog

beaker.session.type = file
beaker.session.data_dir = %(data_dir)s/session/
beaker.session.key = blog
beaker.session.secret = iwcMDUfOZeyoeZ+ywSysYA==
beaker.session.timeout = 3600

beaker.cache.type = file
beaker.cache.data_dir = %(data_dir)s/cache/
beaker.cache.lock_dir = %(data_dir)s/cache/locks

who.config = %(here)s/who-blog.ini
who.log = %(data_dir)s/who.log

[loggers]
keys = root

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = DEBUG
formatter = generic

[formatter_generic]
#format = %(asctime)s,%(msecs)03d %(levelname)-5.5s [%(name)s] [%(threadName)s] %(message)s
format = %(levelname)-7.7s [%(name)s] [%(threadName)s] %(message)s
datefmt = %H:%M:%S
